
@keyframes fadeInOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes up {
    from {
        top: 0;
    }
    to {
        top: 50vh;
    }
}

@keyframes slow-up1 {
    0% {
        top: 14px;
        right: -20px;
    }
    100% {
        top: -50px;
        right: -80px;
    }
}

@keyframes slow-up2 {
    0% {
        right: -20px;
    }
    100% {
        right: -80px;
    }
}

@keyframes slow-up3 {
    0% {
        top: 14px;
        right: -20px;
    }
    100% {
        top: 78px;
        right: -80px;
    }
}

@keyframes slow-down1 {
    0% {
        top: -50px;
        right: -80px;
        opacity: 0.5;
    }
    100% {
        top: 14px;
        right: -20px;
        opacity: 0;
    }
}

@keyframes slow-down2 {
    0% {
        right: -80px;
        opacity: 0.5;
    }
    100% {
        right: -20px;
        opacity: 0;
    }
}


@keyframes slow-down3 {
    0% {
        top: 78px;
        right: -80px;
        opacity: 0.5;
    }
    100% {
        top: 14px;
        right: -20px;
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    50% {
        transform: translate3d(0px, -90px, 0px);
    }
    100% {
        transform: translate3d(0px, -180px, 0px);
    }
}


body {
    margin: 0px;
    user-select: none;
    font-family: 'seoulNamsanM', sans-serif;
}

.toDoList {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 90px;
}

.container-title {
    animation-name: slide-up;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 3s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.clock {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    height: 90px;
    overflow: hidden;
}

.time {
    color: #FFFFFF;
    font-size: 80px;
}

.oz {
    animation-name: fadeInOut;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    color: #FFFFFF;
    font-size: 32px;
}

.jsGreeting {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 90px;
    overflow: hidden;
}
.IDGreeting {
    color: #FFFFFF;
    font-size: 70px; 
}

.sir {
    color: #FFFFFF;
    font-size: 32px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #CFCFCF;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #FFB800;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.header > .text {
    color: #FFFFFF;
    font-size: 28px;
}

.counting {
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    background-color: #BE4130;
    padding: 4px 9px;
}

.counting > .text {
    color: #FFFFFF;
    font-size: 20px;
}

.toDos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 40px 16px;
    width: 400px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.toDo {
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #F3F3F3;
    border-radius: 16px;
    box-shadow: 0px 8px 4px #00000045;
    padding: 13px;
    margin: 12px 0;
    cursor: pointer;
    word-break: break-all;
}

.toDo:hover {
    transition: all 0.3s;
    box-shadow: 0px 8px 4px #00000075;
}

.toDo > .text {
    color: #000000;
    font-size: 28px;
    pointer-events: none;
}

.options1 {
    transition: all 0.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #06CD32;
    border-radius: 16px;
    top: -50px;
    right: -80px;
    z-index: 1000;
    animation-fill-mode: forwards;

    cursor: pointer;

    animation-name: slow-up1;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.options2 {
    transition: all 0.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #106DFA;
    border-radius: 16px;
    right: -80px;
    z-index: 1000;

    cursor: pointer;

    animation-name: slow-up2;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}



.options3 {
    transition: all 0.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #E91919;
    border-radius: 16px;
    top: 78px;
    right: -80px;
    z-index: 1000;
    animation-fill-mode: forwards;

    cursor: pointer;

    animation-name: slow-up3;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.inputToDo {
    width: 100%;
    border: none;
    color: #000000;
    font-size: 28px;
    font-family: 'seoulNamsanM', sans-serif;
    background-color: #F3F3F3;
}

.delBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 28px;
    background-color: #505050;
    color: #CECECE;
    font-size: 14px;
    font-weight: bold;
}

.delBtnX {
    pointer-events: none;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000085;
    z-index: 2;
}

.btns {
    display: flex;
    flex-direction: row;
}

.addBtn {
    background-color: #00A3FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    border-bottom-left-radius: 16px;
}

.addBtn:hover {
    background-color: #117AB5;
}

.bar {
    display: flex;
    flex-direction: row;
    width: 3px;
    background-color: #00A3FF;
}

.subBar {
    width: 3px;
    border-radius: 16px;
    background-color: #0092E3;
    margin: 6px 0;
}

.changeBtn {
    background-color: #00A3FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    border-bottom-right-radius: 16px;
}

.changeBtn:hover {
    background-color: #117AB5;
}

/*서현*/

.idForm{
    animation-name: up;
    animation-direction: alternate;
    animation-duration: 1s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:369px;
    height:277px;
    border : 1px solid #00A3FF ;
    background-color: #193747;
    border-radius: 10px;

    animation-name: light-blue;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.idForm > .title {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 17px;
}

.idForm > .input{
    width: 300px;
    color: #FFD400;
    font-size: 18px;
    background-color: #554D37;
    border: solid 1px #FFB800;
    border-radius: 16px;
    text-align: center;
    padding: 14px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

input:focus {
    outline: none;
}

.hidden {
    display: none;
}

.hiddenOP1 {
    animation-name: slow-down1;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hiddenOP2 {
    animation-name: slow-down2;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hiddenOP3 {
    animation-name: slow-down3;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.first {
    transition: all 0.3s;
    z-index: 1000;
    transform: scale(1.06);
    width: 100%;
}

.icon {
    pointer-events: none;
    margin-top: 5px;
}